body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  width: 100vw;
  overflow-x: hidden;
}

header {
  background-color: ghostwhite;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.1);
  grid-area: header;
  width: 100vw;
}

.menu {
  clear: both;
  max-height: 0;
  transition: .2s ease-out;
  overflow: hidden;
}

.link {
  display: flex;
  padding: 1rem 1.2rem;
  color: darkslategrey;
  text-decoration: none;
  position: relative;
  align-items: center;
  font-size: 2.2rem;
}

.link:before {
  background-color: #d41017;
  content: "";
  height: 4px;
  width: 2rem;
  margin-right: 10px;
  transition: .2s ease-out;
  text-decoration: none;
}

.link:hover:before {
  width: 4rem;
  transition: .2s ease-out;
}

.menu-icon {
  cursor: pointer;
  float: right;
  padding: 60px 40px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 0.5rem;
  position: relative;
  transition: background .2s ease-out;
  width: 3.5em;
  border-radius: 20px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 20px;
}

.menu-icon .navicon:before {
  top: 15px;
}

.menu-icon .navicon:after {
  top: -15px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 100vh;
  transition: .3s ease-in-out;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    justify-content: flex-end;
    top: 0;
    max-height: 80px;
    padding-right: 12px;
  }

  .link {
    border-right: 4px solid #f4f4f4;
  }

  .link:hover , .link:focus{
    background-color: #f4f4f4;
    outline: none;
  }

  .menu-icon {
    display: none;
  }

  .link:before {
    display: none;
  }

}

main{
  grid-area: main;
}

.section {
  padding-top: calc(64px - 16px);
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.title-complement {
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  color: #888;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title-complement:before {
  background-color: #d41017;
  content: "";
  height: 4px;
  width: 80px;
  margin: 32px auto 16px auto;
}

.fazemos__container {
  display: grid;
  margin-top: 64px;
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.3);
}

.imagem {
  width: 100%;
  height: 440px;
  background: url(../img/contact_2.png) no-repeat;
  background-size: cover;
}

.fazemos__background{
  width: 100%;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "title title"
    "web marketing" 
    "p1 p2"
    "desenvolvimento desenvolvimento"
    "p3 p3";
  align-items: top;
  column-gap: 18px;
  padding-bottom: 32px;
}

.title__fazemos{
  font-family: 'Poppins', sans-serif;;
  padding: 32px 0px 0px 0px;
  font-size: 3.2rem;
  text-align: center;
  grid-area: title;
  font-weight: 600;
}

.subtitle__fazemos{
  font-family: 'Playfair Display', serif;
  font-size: 2.6rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-weight: 700;
  padding-top: 64px;
}

.subtitle__fazemos:before {
  background-color: #d41017;
  content: "";
  height: 4px;
  width: 3rem;
  margin: 10px 0px 20px 0px;
}

.subtitle--web{
  grid-area: web;
}

.p--web{
  grid-area: p1;
}

.subtitle--marketing{
  grid-area: marketing;
}

.p--marketing{
  grid-area: p2;
}

.subtitle--desenvolvimento{
  grid-area: desenvolvimento;
}

.p--desenvolvimento{
  grid-area: p3;
}

.p--fazemos{
  text-align: center;
  font-size: 1.2rem;
  margin: 0px 12px 0px 12px;
  padding: 0px 10px 0px 10px;
}

@media screen and (min-width: 1440px) {
  .fazemos__container {
    grid-template-areas: 
      "imagem contato";
    grid-template-columns: 50vw 50vw;
  }

  .imagem {
    height: auto;
    grid-area: imagem;
  }

  .fazemos__background{
    width: 100%;
    height: 540px;
    background-color: whitesmoke;
    grid-area: contato;
  }
}

.section__mensagem{
  padding-bottom: 32px;
  box-shadow: inset 0px -8px 6px -6px rgba(0,0,0,0.2)
}

.form__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 85vw;
  margin: 64px auto 0px auto;
}

.input__contato{
  border-radius: 10px;
  border: 2px solid #888;
  padding: 0.8em;
  width: 100%;
  outline: none;
  font-size: 1.2em;
  background-color: white;
}

.input__label{
  align-self: flex-start;
  color: #d41017;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1.8rem;
}

.label--box{
  background-color: white;
  margin: 0px 0px -32px 16px;
  padding: 0px 0.5em 0px 0.5em;
  z-index: 4;
}

textarea{
  resize: none;
}

.fieldset__contato{
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 16px;
}

.label--title{
  grid-column: span 3;
  margin-left: -0.6em;
}

.label--radio{
  color: #666;
  cursor: pointer;
  justify-self: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/*hide input radiobox*/
.input__radio{
  width: 0px;
  height: 0px;
}

.radiobox{
  margin-top: 2px;
  height: 0.8em;
  width: 0.8em;
  border-radius: 8px;
  background-color: #ccc;
  transition: 0.2s;
}

.label--radio:hover input ~ .radiobox {
  background-color: #666;
}

.label--radio input:checked ~ .radiobox {
  background-color: #666;
}

.label--radio input:checked ~ .radiobox:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d41017;
  margin-top: 7px;
  margin-left: 7px;
}

.input--enviar{
  width: auto;
  padding: 1rem 3rem;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  background-color: whitesmoke;
}

.input--enviar:focus , .input--enviar:hover{
  background-color: #888;
  transition: 0.3s ;
}

.tel{
  width: 100%;
  margin-left: -32px;
}

@media screen and (min-width: 1024px) {

  .section__mensagem{
    background: url(../img/contact.png) no-repeat;
    background-size: 125% 100%;
    width: 100vw;
    box-shadow: inset 0px 8px 4px -4px rgba(0,0,0,0.3) , inset 0px -8px 4px -4px rgba(0,0,0,0.3);
  }

  .cartao{
    background-color: whitesmoke;
    opacity: 0.95;
    width: 75%;
    border-radius: 50px;
    margin-inline: auto;
    padding: 2rem;
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.3);
  }

  .input__contato{
    background-color: whitesmoke;
    opacity: 0.95;
  }

  .label--box{
    background-color: whitesmoke;
  }

  .form__container{
    width: 60vw;
  }

  .input--enviar{
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
  }

}

footer {
  grid-area: footer;
  background-color: whitesmoke;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3);
}

.menu__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 16px auto 0px auto;
}

.menu__footer__item {
  font-size: 2em;
  cursor: pointer;
  color: whitesmoke;
  padding: 11.5px;
}

.menu__footer__item--insta:hover {
  color: blueviolet;
}

.menu__footer__item--face:hover {
  color: dodgerblue;
}

.menu__footer__item--twit:hover {
  color: skyblue;
}

.menu__footer__circle{
  background-color: #888;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu__footer__circle:hover{
  background-color: black;
  transition: 0.5s;
}

.copyright__container{
  margin-top: 16px;
  background-color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4em;
}

.copyright{
  color: white;
}

.copyright i{
  margin-right: 8px;
}

.off{
  display: none;
}
